[Desktop Entry]
Version=1.0
Name=ROS_RUN
Exec=bash -c 'source /opt/ros/humble/setup.bash; source ~/ros2_ws_tutorial/install/setup.bash; ros2 launch my_robot_bringup number_app.launch.py; $SHELL'
Icon=/home/jodle/Downloads/Iconka-Meow-Cat-purr.ico
Terminal=true
Type=Application
Comment=This is an example of running a bash command directly.